<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Card Number</th>
      <th>Expiration Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let paymentdetail of service.list">
      <td (click)="populateForm(paymentdetail)">{{paymentdetail.CardOwnerName}}</td>
      <td (click)="populateForm(paymentdetail)">{{paymentdetail.CardNumber}}</td>
      <td (click)="populateForm(paymentdetail)">{{paymentdetail.ExpirationDate}}</td>
      <td>
        <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(paymentdetail.PMId)" ></i>
      </td>
    </tr>
  </tbody>
</table>